* {
	padding: 0;
	margin: 0;
}
body {
	min-width: 800px;
	background-color: #eee;
}
.wrap {
	min-width: 800px;
	border: 1px solid #ccc;
}
section {
	position: absolute;
	top: 10px;
	box-sizing: border-box;
	width: 48%;
	height: 700px;
}
.origin-content {
	left: 2%;
}
.markdown-content {
	right: 2%;
}
.origin-content textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 700px;
	padding: 50px;
	color: #fff;
	background-color: #000;
	border: none;
	resize: none;
	outline: none;
}
.markdown-content .markdown-text {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 50px;
	margin: 0 auto;
	font-family: "Comic Sans MS","幼圆","黑体",sans-serif;
	font-size: 20px;
	line-height: 1.5;
	background-color: #fff;
	overflow: auto;
}
.markdown-content h1, h2, h3, h4, h5, h6 {
	margin-top: 5px;
	text-align: left;
}
.markdown-content p {
	font-size: 25px;
}
.markdown-content img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
}
.markdown-content ul, ol {
	margin-top: 5px;
	list-style: none;
}
.markdown-content ul>li:before {
	content: "♥";
	margin-right: 5px;
}
.markdown-content ul>li+ul>li {
	text-indent: 2em;
}
.markdown-content ul>li+ul>li:before {
	content: "♤";
	margin-right: 5px;
}
.markdown-content ul>li+ul>li+ul>li {
	text-indent: 4em;
}
.markdown-content ul>li+ul>li+ul>li:before {
	content: "☼";
	margin-right: 5px;
}
.markdown-content ol {
	counter-reset: li;
}
.markdown-content ol>li {
	counter-increment: li;
}
.markdown-content ol>li:before {
	margin: 5px;
	color: red;
	content: counter(li);
}
.markdown-content ol>li+ol>li {
	text-indent: 2em;
	counter-increment: li;
}
.markdown-content ol>li+ol>li+ol>li {
	text-indent: 4em;
	counter-increment: li;
}
.markdown-content blockquote {
	padding: 13px;
	margin: 15px;
	font-size: 15px;
	background-color: #ddd;
	border-left: 5px solid #333;
}
.markdown-content pre {
	padding: 10px;
	margin: 15px;
	font-size: 15px;
	background-color: #000;
	color: #0058FF;
}
.markdown-content pre>code {
	color: inherit;
	background-color: transparent;
}
.markdown-content a {
	font-family: sans-serif;
	color: #FF3F6E;
}
.markdown-content code {
	padding: 2px;
	color: #C90000;
	background-color: #FDB2B2;
	border-radius: 3px;
}